.jesus__container {
  max-width: 200px;
  margin: 15px;
  padding: 20px;
  text-align: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.25, 1.25) !important;
  transform: scale(1);
}

.movies__list__container {
  max-width: 400px;
}

.movies__list img {
  width: 300px !important;
  height: 400px !important;
}

.jesus__info img {
  width: 60%;
  height: 180px;
}
.jesus__info p {
  color: #000;
}

.jesus__container:hover {
  transform: scale(1.03);
}

.jesus__des {
  color: #f0601e !important;
}
